// Colors
$color-primary: #5AC8FA !default;
$color-secondary: #F2F2F2 !default;
$color-accent: #FF3B30 !default;
$color-text: #707070 !default;
$color-text-alt: #CCCCCC !default;
$color-link: $color-primary !default;

$background-gradient: linear-gradient($color-primary, $color-secondary 55%) !default;

// Fonts
$font-family: 'Poppins', sans-serif;

// Break Points
@mixin small {
    @media screen and (max-width: 760px){
        @content;
    }
}
@mixin medium {
    @media only screen and (max-width: 1070px) {
        @content;
        }
}
@mixin large {
    @media only screen and (min-width: 1070px) {
        @content;
      }
}